/* Kichul's Shit */
#first {
    color: green
}

.abc {
    color: red
}


/* Boone's Shit */
/* Traits of Unclicked button */
.unclicked{
    background-color: rgb(49, 181, 47);
    border: 1px solid black;
    color: white;
    width: 6em; /* Button Size */
    height: 4em;
    display: inline-block;
    margin-right: 25px;

    text-align: center;
    font-size: 12px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
/* Traits when hovering over Unclicked button */
.unclicked:hover {
    background-color: green;
    color: white;
}

/* Traits of Clicked button */
.clicked{
    background-color: rgb(33, 217, 183);
    border: 1px solid black;
    border-radius: 8px;  /* Rounds Edges */
    color: white;
    width: 7em; /* Button Size */
    height: 5em;
    display: inline-block;
    margin-right: 25px;

    text-align: center;
    font-size: 12px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}