/* Boone Wiegand */
/* Text Formatting */
.format {
    /* OPTIONAL CODE FOR GRADIENT TEXT
    background: linear-gradient(to right, #1DB954, rgb(109, 109, 109));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    */
    color: #00C4CC;
    text-align: center;
    padding: 10px;
}    

/* Traits of Unclicked button */
.unclicked{
    background-color: rgba(220, 220, 220, 0.68);
    border: 1px solid black;
    color: white;
    width: 6em; /* Button Size */
    height: 4em;
    display: inline-block;
    margin-right: 25px;

    text-align: center;
    font-size: 12px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
/* Traits when hovering over Unclicked button */
.unclicked:hover {
    background-color: green;
    color: white;
}

/* Traits of Clicked button */
.clicked{
    background-color: green;
    border: 1px solid black;
    border-radius: 8px;  /* Rounds Edges */
    color: white;
    width: 7em; /* Button Size */
    height: 5em;
    display: inline-block;
    margin-right: 25px;

    text-align: center;
    font-size: 12px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}